{% load ontotags %}{% load subdomainurls %}
<div class="page-header">
  <h3>	
	  Ontology metadata {# for <code>{{ontoPrettyUri}}</code>   #}    	  
  </h3>	  
</div>
{% if ontologyAnnotations %}
	{% for name, value in ontologyAnnotations  %}
		{% ifchanged name %}
			<br />
			<h4>{{name}}</h4>
		{% endifchanged %}
	<p class="rdfobject" style="margin-left: 20px;">
	    {{value|linebreaksbr}}
	</p>
	{% endfor %}
{% else %}
	<p class="rdfobject" style="margin-left: 20px;">
	    <i>None found</i>
	</p>
{% endif %}
<div class="page-header" style="margin-top:100px;">
    <h3>Metrics</h3>
</div>
<div class="row">	
	<div class="col-sm-3 col-md-3 ">
		<p style="margin-top:25px;" id="chartsLegend">
			<span class="text-muted">Triples:</span> 
			<br /><span style="font-size: 250%;"> {{stats.0.1}}</span>
		</p>	
	</div>
	<div class="col-sm-4 col-md-4 ">
		<canvas id="triplesStats" height="300"></canvas>
	</div>
</div>
<br /><br />
<div class="row" style="margin-top:70px;">
	<div class="col-sm-3 col-md-3 ">
		<p id="chartsLegend">
			<span class="text-muted">Entity types:</span> <span id="legendEntities" ></span>
		</p>
	</div>
	<div class=" ">
		<canvas id="entitiesStats" height="300"></canvas>
	</div>
</div>
{% if toplayer %}
<div class="row" style="margin-top:100px;">
	<div class="col-sm-4 col-md-4 ">
		<canvas id="toplayer" height="300"></canvas>	
	</div>
	<div class="col-sm-8 col-md-8 ">
		<p style="" id="chartsLegend">
			<span class="text-muted">Top Classes:</span> <span id="legendToplayer"></span>
		</p>
	</div>
</div>
{% endif %}

{# ONTO STATS have this format  #}
{# 	 #}
{# 	out += [("Triples", len(self.rdfGraph))] #}
{# 	out += [("Classes", len(self.allclasses))] #}
{# 	out += [("Object Properties", len(self.allobjproperties))] #}
{# 	out += [("Datatype Properties", len(self.alldataproperties))] #}
{# 	out += [("Individuals", len(self.allinstances))] #}
		
<script type="text/javascript">
	var ctx = document.getElementById("entitiesStats").getContext("2d");
	var data = [
	    {
	        value: {{stats.1.1}},
	        color:"#F7464A",
	        highlight: "#FF5A5E",
	        label: "{{stats.1.0}}"
	    },
	    {
	        value: {{stats.2.1}},
	        color: "#46BFBD",
	        highlight: "#5AD3D1",
	        label: "{{stats.2.0}}"
	    },
	    {
	        value: {{stats.3.1}},
	        color: "#FDB45C",
	        highlight: "#FFC870",
	        label: "{{stats.3.0}}"
	    },
		
	    {
	        value: {{stats.4.1}},
	        color: "#6588A8",
	        highlight: "#CCD3FF",
	        label: "{{stats.4.0}}"
	    }
		
	]
	
	
	var myDoughnutChart = new Chart(ctx).Doughnut(data);
	
	legend(document.getElementById('legendEntities'), data);
	
	
	// SECOND CHART
	
	var ctx2 = document.getElementById("triplesStats").getContext("2d");
	var data2 = {
	    labels: ["Triples"],
	    datasets: [
	        {
	            label: "Triples",
	            fillColor: "#353D4A",
	            strokeColor: "#002DE1",
	            highlightFill: "#35496A",
	            highlightStroke: "#297EEF",
	            data: [{{stats.0.1}}]
				
				
				// ORIGINAL COLORS:
	            // fillColor: "rgba(220,220,220,0.5)",
	            // strokeColor: "rgba(220,220,220,0.8)",
	            // highlightFill: "rgba(220,220,220,0.75)",
	            // highlightStroke: "rgba(220,220,220,1)",
	        }
	    ]
	};
	var myBarChart = new Chart(ctx2).Bar(data2);
	
	
	
	// THIRD CHART
	
	var ctx3 = document.getElementById("toplayer").getContext("2d");
	var data3 = [

		{% for class in toplayer %}

		    {
		        value: 1,
		        color: "rgb(253, 130, 130)",
		        highlight: "rgb(252, 177, 177)",
		        label: "{{class.classname}}"
		    }
	
			{% if not forloop.last %} , {% endif %}
	
		{% endfor %}
		
	]
	
	
	var myPieChart = new Chart(ctx3).Pie(data3);
	
	legend(document.getElementById('legendToplayer'), data3);
	
	
	
</script>





