{% load ontotags %}{% load subdomainurls %}


<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{% url 'startsearch' subdomain='schema' %}" style="font-size: 18px;">
		Vocabulary Browser&nbsp;&nbsp;&gt;</a>	
      <a class="brand" href="{% url 'ontology' subdomain='schema' %}?model={{ontoFile}}">
		<code>{{ontoPrettyUri|truncchar_inverse:50|default:"no uri available"}}</code></a>
		
		{% if class %}
        <a class="brand" style="font-size: 18px;">&gt;</a>	
        <a class="brand">
  			<code>{{class.classname|encodeuri}}</code>
		</a>
		{% endif %}
		
		{% if property %}
        <a class="brand" style="font-size: 18px;">&gt;</a>	
        <a class="brand">
  			<code>{{property.propname|encodeuri}}</code>
		</a>
		{% endif %}
		
		
		{% if instance %}
        <a class="brand" style="font-size: 18px;">&gt;</a>	
        <a class="brand">
  			<code>{{instance.instancename|encodeuri}}</code>
		</a>
		{% endif %}
		
		
			{#       <div class="nav-collapse collapse"> #}
			{#         <ul class="nav"> #}
			{#             <!-- <li class="{{request|menubar_getclass:'ontology'}}"> #}
			{# <a href="/ontology?model={{ontoLocation}}">Overview</a></li> --> #}
			{#             <li class="{{request|menubar_getclass:'classes'}}"> #}
			{# <a href="{% url 'classes' subdomain='schema' %}?model={{ontoFile}}">Classes ({{TOTclasses}})</a></li> #}
			{#             <li class="{{request|menubar_getclass:'properties'}}"> #}
			{# <a href="{% url 'properties' subdomain='schema' %}?model={{ontoFile}}">Properties ({{TOTproperties}})</a></li> #}
			{#             <li class="{{request|menubar_getclass:'individuals'}}"> #}
			{# <a href="{% url 'individuals' subdomain='schema' %}?model={{ontoFile}}">Individuals ({{TOTindividuals}})</a></li>		 #}
			{# 			   #}
			{#          </ul> #}
			{#       </div><!--/.nav-collapse --> #}
    </div>
  </div>
</div>
